Repository adriantomas/pydamodb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, mdformat, complexipy, mypy

ruff-check:
  name: ruff check
  entry: uv run ruff check
  args:
  - --fix
  language: unsupported
  stages:
  - pre-commit

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: unsupported
  stages:
  - pre-commit

mdformat:
  name: mdformat
  entry: uv run mdformat
  language: unsupported
  stages:
  - pre-commit

complexipy:
  name: complexipy
  language: unsupported
  entry: uv run complexipy
  stages:
  - pre-commit

mypy:
  name: mypy
  language: unsupported
  entry: uv run mypy
  stages:
  - pre-commit

fix: update mypy entry to include current directory and disable filename passing
  .pre-commit-config.yaml
Due: none

chore: update pre-commit hooks to use local dependencies (#8)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

ci: replace pre-commit with prek (#11)
  CONTRIBUTING.md
  pyproject.toml
  uv.lock
Due: mdformat

chore(deps-dev): update ruff version to 0.15.0 and uv required version to 0.10.0
  .python-version
  pyproject.toml
  uv.lock
Due: none

test: increase coverage for conditions and fields
  pydamodb/fields.py
  test/unit/test_conditions.py
  test/unit/test_fields.py
Due: ruff-check, ruff-format, complexipy, mypy

test: increase coverage for conditions and fields (#13)
  pydamodb/fields.py
  test/unit/test_conditions.py
  test/unit/test_fields.py
Due: ruff-check, ruff-format, complexipy, mypy

refactor: replace descriptor-based attr access with method-based API
  pydamodb/__init__.py
  pydamodb/async_models.py
  pydamodb/base.py
  pydamodb/conditions.py
  pydamodb/expressions.py
  pydamodb/fields.py
  pydamodb/mypy.py
  pydamodb/sync_models.py
  test/integration/conftest.py
  test/integration/test_async_dynamodb.py
  test/integration/test_sync_dynamodb.py
  test/integration/test_update_conditions.py
  test/typing/test_mypy_plugin.py
  test/unit/test_async_models.py
  test/unit/test_fields.py
  test/unit/test_sync_models.py
Due: ruff-check, ruff-format, complexipy, mypy

chore: migrate from mypy to ty and replace pre-commit with prek
  .pre-commit-config.yaml
  README.md
  prek.toml
  pyproject.toml
  uv.lock
Due: mdformat

refactor: replace mypy with ty in CI workflow and contributing guidelines
  .github/workflows/integration.yml
  CONTRIBUTING.md
Due: mdformat

fix: update ty command to include 'check' for proper linting
  .github/workflows/integration.yml
Due: none

test: add missing coverage for _resolve_annotation and nested path validation
  test/unit/test_async_models.py
  test/unit/test_fields.py
Due: ruff-check, ruff-format, complexipy, mypy

refactor!: replace descriptor-based attr access with method-based API (#25)
  .github/workflows/integration.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  prek.toml
  pydamodb/__init__.py
  pydamodb/async_models.py
  pydamodb/base.py
  pydamodb/conditions.py
  pydamodb/expressions.py
  pydamodb/fields.py
  pydamodb/mypy.py
  pydamodb/sync_models.py
  pyproject.toml
  test/integration/conftest.py
  test/integration/test_async_dynamodb.py
  test/integration/test_sync_dynamodb.py
  test/integration/test_update_conditions.py
  test/typing/test_mypy_plugin.py
  test/unit/test_async_models.py
  test/unit/test_fields.py
  test/unit/test_sync_models.py
  uv.lock
Due: ruff-check, ruff-format, mdformat, complexipy, mypy

chore(deps-dev): remove rich dependency from development dependencies
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
  complexipy: any of: \.py$
  mypy: any of: \.py$
